


    <h2>Эпизоды</h2>
    <ul>
        {% for value in data %}
            <ul>
                <strong>{{value.story_type}}</strong>
                <ul>
                    <strong>{{ value.name }}</strong> = {{value.total}}
                    <ul>
                        <li><strong>normal</strong>  {{ value.normal }}</li>
                        <li><strong>challenge</strong>  {{ value.challenge }}</li>
                        <li><strong>clear</strong>  {{ value.clear }}</li>
                    </ul>
                </ul>
            </ul>
        {% endfor %}
    </ul>

