{% extends 'arknights/base.html' %}
{% load static %}



{% block content %}

<h2>Редактировать сюжеты</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>name</th>
        <th>orundum<img src="{% static 'main/img/22px-Orundum.webp' %}" alt=""></th>
        <th>originium<img src="{% static 'main/img/18px-Originite_Prime_icon.webp' %}" alt=""></th>
        <th>tickets</th>
    </tr>

    {% for item, form in form_list %}
    <tr>
        <form method="post">
            {% csrf_token %}
            <td>{{ form.name }}</td>
            <td>{{ form.orundum }}</td>
            <td>{{ form.originium }}</td>
            <td>{{ form.tickets }}</td>
            <td>
                <input type="hidden" name="id" value="{{ item.id }}">
                <button type="submit">💾 Сохранить</button>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>

{% endblock %}
