<form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    <table border="1" cellpadding="8">
        <tr>
            <th>Имя</th>
            <th>Теги</th>
            <th>Редкость</th>

        </tr>

        {% for form in formset %}
            <tr>
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <td>{{ form.name }}</td>
                <td>{{ form.tag }}</td>
                <td>{{ form.rarity }}</td>
            </tr>
        {% endfor %}
    </table>

    <button type="submit">💾 Сохранить все изменения</button>
</form>
